/*
 Copyright Regione Piemonte - 2023
 SPDX-License-Identifier: EUPL-1.2
*/

.csi-pre-line
  white-space: pre-line

.csi-wrap-word
  overflow-wrap: break-word

a.csi-link
  color: $csi-link-color
  font-weight: bold
  text-decoration: none
  transition: color .4s ease-in-out
  i
    color: $csi-link-color

  &:hover
    color: $csi-link-hover-color
    i
      color: $csi-link-hover-color !important
      transition: color .4s ease-in-out


.text-primary-light
  color: $csi-primary-light

.bg-primary-light
  background: $csi-primary-light


.text-csi-pink
  color: $csi-link-hover-color

.bg-csi-pink
  background: $csi-link-hover-color

.text-chat-pink
  color :  $csi-chat-pink

.bg-chat-pink
  background: $csi-chat-pink

.text-chat-blue
  color :  $csi-chat-blue

.bg-chat-blue
  background: $csi-chat-blue

.csi-bg-default
  background: $csi-background-color



@media (min-width: 1439px)
  .row > .col-xxl-4
    height: auto
    width: 33.3333%




.csi-menu-item
  max-width: 400px
  background-color: #FFFFFF
  border-left-color: $primary
  border-left-width: 6px
  border-left-style: solid

  &:hover
    .q-focus-helper
      background: $csi-primary-light !important
      opacity: 0.15

  &.csi-menu-item--selected
    background-color: rgba($csi-primary-light, 0.12)



#csi-splitter
  &.unselected
    .q-splitter__separator
      width: 0px

  .q-splitter__panel.q-splitter__before
    //transition: width 0.9s ease-out 0s
  .csi-splitter--separator--hide
    display: none

.fse-tac-grid-item
  background-color: $grey-1

.fse-tac-grid-item__field-label
  font-size: map-get($caption, 'size')
  line-height: map-get($caption, 'line-height')
  letter-spacing: map-get($caption, 'letter-spacing')
  font-weight: map-get($text-weights,'bold')
